{
    
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react", "prettier", "react-hooks"],
     "env": {
         "browser": true,
         "node": true,
         "es6": true,
         "jest": true
     },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.extra.js"
            }
        }
    },
    "rules": {
        "import/extensions": "off",
        "import/no-duplicates": "off",
        "import/order": "off",
        "import/no-self-import": "off",
        "import/no-cycle": "off",
        "import/no-named-as-default": "off",
        "import/no-named-as-default-member": "off",
        "import/named": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/no-unresolved": "off",
        "prettier/prettier": "error",
        "import/no-extraneous-dependencies": "off",
        "import/no-useless-path-segments": 1,
    },
    "parser": "babel-eslint",
}
