@import url('https://fonts.googleapis.com/css?family=Spartan:wght@300;700|Montserrat:400,600,700');
@import '_variables.scss';

* {
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html,
#root {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--app-background);
    height: 100%;
    overflow-x: hidden;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    label,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    button {
        outline: 0;
    }

    p {
        font-size: 14px;
        line-height: 26px;
        margin: 0;
        color: var(--color-grey-3);
    }

    a {
        text-decoration: none;
        color: var(--color-grey-3);
    }

    span {
        color: var(--color-grey-3);
    }

    footer {
        background: var(--app-background);
    }
}
