.block *,
.block + * {
    opacity: 0.6;
}

.image {
    opacity: 0.6;
    @include shine;
    height: 105px;
    width: 150px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .description {
        @include shine;
        margin-bottom: 15px;
        height: 25px;
        width: 135px;
    }

    .value {
        @include shine;
        height: 95px;
        width: 120px;
    }
}

.location {
    @include shine;
    margin-top: 15px;
    height: 25px;
    width: 60px;
}

@media (orientation: landscape) and (max-width: 960px) {
    .image {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
    }
}
